<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <ul class="imagensposts">
        <img class="post1" src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        <img class="post2" src="https://i.pinimg.com/564x/42/a5/cc/42a5cc5d432c655dcefca11f26170800.jpg" alt="pikachu fofinho">
        <img class="post3" src="https://i.pinimg.com/564x/fb/9d/ca/fb9dcaf7552adf91261276d27f82b676.jpg " alt="pumpkings ">
        <img class="post4" src="https://i.pinimg.com/564x/4a/1b/16/4a1b163d14189dfd4881969fbac2ba9b.jpg" alt="noiva cadaver">
        <img class="post5" src="https://i.pinimg.com/564x/bb/86/09/bb860932a09840c54ad7c1d654e2fa96.jpg" alt="stich">
        <img class="post6" src="https://i.pinimg.com/564x/dc/14/67/dc1467ab46f9dc7d73f404f58572f169.jpg" alt="maquin 65">
        <img class="post7" src="https://i.pinimg.com/564x/29/3d/3c/293d3cb2a642afc6d1641463f8a0bdb7.jpg" alt="corvinal ">
        <img class="post8" src="https://i.pinimg.com/236x/15/19/0a/15190a37b83af044d8548dc0a5eddf2b.jpg" alt="estudo">
        <img class="post9" src="https://i.pinimg.com/236x/6c/10/29/6c10295b913a2cc6559783f1d818a2c7.jpg" alt="familia moderna">
        <img class="post10" src="https://i.pinimg.com/236x/70/cb/af/70cbaf14c6f5d0573988b2e7b6cea5b9.jpg" alt="PI">
        <img class="post11" src="https://i.pinimg.com/564x/8b/5d/7f/8b5d7f2d1cb66b85743a24eca1968e8e.jpg" alt="gilmore girls">
        <img class="post12" src="https://i.pinimg.com/236x/57/1b/cd/571bcdefa7e62be5ba08a384bb25958c.jpg" alt="menina matemática">
        <img class="post13" src="https://i.pinimg.com/236x/a1/01/3b/a1013b98476039c813b9fc4ead959f07.jpg" alt="coração">
        <img class="post14" src="https://i.pinimg.com/236x/ed/ed/85/eded85a2bcf5515e5f742f24e8c23c9b.jpg" alt="menino e telescópio">
        <img class="post15" src="https://i.pinimg.com/236x/ab/5b/ee/ab5bee0723eee835968f73596fa176dd.jpg" alt="natureza">




        <!-- <div class="post1">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post2">
            <img src="https://i.pinimg.com/564x/42/a5/cc/42a5cc5d432c655dcefca11f26170800.jpg" alt="pikachu fofinho">
        </div>
        <div class="post3">
            <img src="https://i.pinimg.com/564x/fb/9d/ca/fb9dcaf7552adf91261276d27f82b676.jpg " alt="pumpkings ">
        </div>
        <div class="post4">
            <img src="https://i.pinimg.com/564x/4a/1b/16/4a1b163d14189dfd4881969fbac2ba9b.jpg" alt="noiva cadaver">
        </div>
        <div class="post5">
            <img src="https://i.pinimg.com/564x/bb/86/09/bb860932a09840c54ad7c1d654e2fa96.jpg" alt="stich">
        </div>
        <div class="post6">
            <img src="https://i.pinimg.com/564x/dc/14/67/dc1467ab46f9dc7d73f404f58572f169.jpg" alt="maquin 65">
        </div>
        <div class="post7">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post8">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post9">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post10">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post11">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post12">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post13">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post14">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post15">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div>
        <div class="post16">
            <img src="https://i.pinimg.com/564x/5f/74/3f/5f743f705b93bc083aeb782b98bf4a8b.jpg" alt="imagem da grifinoria ">
        </div> -->
    </ul>
</body>
</html>