.icones img {
    width: 20px;
}

/* post inteiro */
.feed {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 45px;
}

/* imagem do post */
.imgCentral img {
    width: 50%;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

/* informações do post */

.superior ul {
    margin-left: 50%;
}

.superior li {
    list-style: none;
    display: inline;
    padding-left: 4%;
    cursor: pointer;
}

.superior {
    margin-top: -92%;    
}

.superior button {
    width: 80px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    float: right;
    margin-right: 4%;
    margin-top: -5.5%;
    cursor: pointer;
}

/*------------------------INFOS DA IMAGEM--------------------------------------------------*/

.link {
    color: rgb(19, 19, 19);
    margin-left: 54.5%;
}

.titulo {
    margin-left: 54.5%;
}

.descricao {
    margin-left: 54.5%;
}

.perfil {
    margin-left: 54.5%;
}

.perfil img {
    border-radius: 100%;
    width: 10%;
}

.publicador {
    font-weight: bold;
    margin-left: 11%;
    margin-top: -11%;
}

.seguidoresplus {
    margin-top: -4%;
    margin-left: 11%;
}

.seguir {
    width: 80px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    float: right;
    margin-right: 8%;
    margin-top: -19%;
    cursor: pointer;
    background-color: #dfdfdf;
}

/*-------------------------COMENTARIO1------------------------------------------------*/

.comentarios {
    margin-top: 3%;
    margin-left: 55%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.fotoredonda1 {
    margin-top: 1%;
    margin-left: 55%;
    border-radius: 100%;
    width: 3.5%;
}

.usuario1 {
    margin-left: 59%;
    font-weight: bold;
    margin-top: -4%;
    cursor: pointer;
}

.comentario1 {
    margin-left: 76%;
    margin-top: -5%;
}

.tempocoment1 {
    margin-left: 59.5%;
    margin-top: -1.5%;
    color: gray;
    font-size: 15px;
}

.responder1 {
    margin-left: 65%;
    margin-top: -4.9%;
    color: gray;
    cursor: pointer;
}

.favs1 {
    margin-left: 79%;
    margin-top: -4.9%;
    color: gray;
}

.favsimg1 {
    margin-top: -4.5%;
    margin-right: 22%;
    width: 16px;
    cursor: pointer;
    float: right;
}

.icone1 {
    margin-right: 15%;
    margin-top: -4%;
    width: 16px;
    cursor: pointer;
    float: right;
}

.like1 {
    margin-left: 100%;
    margin-top: -7.5%;
    color: gray;
    cursor: pointer;
}

/*-------------------------RESPOSTA1------------------------------------------------*/

.respost1 {
    margin-top: -2%;
    margin-left: 60%;
    border-radius: 100%;
    width: 3.5%;
}

.userespot1 {
    margin-left: 64%;
    font-weight: bold;
    margin-top: -6%;
    cursor: pointer;
}

.resposta1 {
    margin-left: 76%;
    margin-top: -4.7%;
}

.tempocomentres {
    margin-left: 64.5%;
    margin-top: -1.5%;
    color: gray;
    font-size: 15px;
}

.responderes {
    margin-left: 68%;
    margin-top: -3.5%;
    color: gray;
    cursor: pointer;
}

.favsimgres1 {
    margin-top: -3%;
    margin-right: 21%;
    width: 16px;
    cursor: pointer;
    float: right;
}

.favsres1 {
    margin-left: 79.5%;
    margin-top: -3.5%;
    color: gray;
} 

.iconeres {
    margin-right: 16.5%;
    margin-top: -3%;
    width: 16px;
    cursor: pointer;
    float: right;
}

.likeres {
    margin-left: 100%;
    margin-top: -7.5%;
    color: gray;
    cursor: pointer;
}

/*-------------------------COMENTARIO2------------------------------------------------*/

.fotoredonda2 {
    margin-top: 1%;
    margin-left: 55%;
    border-radius: 100%;
    width: 3.5%;
}

.usuario2 {
    margin-left: 59%;
    font-weight: bold;
    margin-top: -4%;
    cursor: pointer;
}

.comentario2 {
    margin-left: 76%;
    margin-top: -4.5%;
}

.tempocoment2 {
    margin-left: 59.5%;
    margin-top: -1.5%;
    color: gray;
    font-size: 15px;
}

.responder2 {
    margin-left: 65%;
    margin-top: -4.9%;
    color: gray;
    cursor: pointer;
}

.favs2 {
    margin-left: 79%;
    margin-top: -4.9%;
    color: gray;;
}

.favsimg2 {
    margin-top: -4.5%;
    margin-right: 22%;
    width: 16px;
    cursor: pointer;
    float: right;
}

.icone2 {
    margin-right: 15%;
    margin-top: -4%;
    width: 16px;
    cursor: pointer;
    float: right;
}

.like2 {
    margin-left: 100%;
    margin-top: -5.5%;
    color: gray;
    cursor: pointer;
}

/*-------------------------FINAL------------------------------------------------*/

.vermais {
    width: 80px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    float: left;
    margin-left: 55%;
    margin-top: 1%;
    cursor: pointer;
    background-color: #dfdfdf;
}

.fotoredonda3 {
    border-radius: 100%;
    width: 5%;
    margin-top: 14.5%;
    margin-left: -41%;
}

.comentar {
    border-radius: 25px;
    border: 1px solid #dfdfdf;
    width: 35%;
    height: 40px;
    margin-left: -3%;
    margin-top: 15%;
    float: left;
    font-size: 16px;
}